<div style="text-align: center;" ng-if="isAdmin()">
	<button class="btn btn-success" ng-click="createBuild()">New Build</button>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Active?</th>
			<th>Details</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="build in builds">
			<td><span ng-bind="build.Name"></span></td>
			<td>
				<span ng-if="!build.Active" class="text-danger">Inactive</span>
				<span ng-if="build.Active" class="text-success">Active</span>
			</td>
			<td>
				<a ng-if="isAdmin()" class="btn btn-default" href="/builds/{{ build._id }}">Edit</a>
				<a ng-if="!isAdmin()" class="btn btn-default" href="/builds/{{ build._id }}">Open</a>
			</td>
			<td ng-if="isAdmin()">
				<button class="btn btn-danger" ng-click="deleteBuild(build._id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
