<h3 style="text-align: center;"><u>{{ repository }} Hooks</u></h3>
<div style="text-align: center;">
	<button class="btn btn-success" ng-click="createHookDialog()">New Hook</button>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Update</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="hook in hooks">
			<td><span ng-bind="hook.name"></span></td>
			<td>
				<a class="btn btn-default" href="#">Edit</a>
			</td>
			<td>
				<button class="btn btn-danger" ng-click="deleteHook(hook.name)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
