<div style="text-align: center;">
	<button ng-if="isDev()" class="btn btn-success" ng-click="createRepoDialog()">New Repository</button>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th ng-if="isAdmin()">Hooks</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="repository in repositories">
			<td><span ng-bind="repository.Name"></span></td>
			<td><a href="{{ repository.Url.Clone }}" ng-bind="repository.Url.Clone"></a></td>
			<td ng-if="isAdmin()"><a href="/repositories/{{ repository.Name }}" class="btn btn-primary">Hooks</a></td>
			<td ng-if="isAdmin()">
				<button class="btn btn-danger" ng-click="deleteRepo($index)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
